@import url('https://fonts.googleapis.com/css2?family=Inika&display=swap');
body{
  font-family: 'Inika', serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
section{
  margin: auto;
  text-align: center;
}
img{
  width: 200px;
}
.form{
  width: 458px;
  height: 579px;
  background: #FFFFFF;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.17);
  border-radius: 30px;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputName  {
  background: #F8F1FF;
  width: 323px;
  height: 40px;
  display: flex;
  border-radius: 7px;
  margin-top: 15px;
  padding-left: 10px;
  padding-top: 8px;
}
.inputDate {
  background: #F8F1FF;
  width: 323px;
  height: 40px;
  display: flex;
  border-radius: 7px;
  margin-top: 15px;
  padding-left: 10px;
  padding-top: 8px;
}
.inputSex{
  display: flex;
  background: #F8F1FF;
  width: 323px;
  border-radius: 7px;
  flex-direction: column;
  align-items: baseline;
  margin-top: 15px;
  padding-left: 10px;
  padding-top: 8px;
}
.inputPersonal{
  display: flex;
  background: #F8F1FF;
  width: 323px;
  border-radius: 7px;
  flex-direction: column;
  align-items: baseline;
  margin-top: 15px;
  padding-left: 10px;
  padding-top: 8px;
}
.inputFile{
  background: #F8F1FF;
  width: 323px;;
  border-radius: 7px;
  margin-top: 15px;
  padding-left: 10px;
  padding-top: 8px;
}
.inputFile label{
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.selectCountry{
  background: #F8F1FF;
  border-radius: 7px;
  margin-top: 15px;
  padding-top: 8px;

}
.inputSexLabel{
  display: flex;
  justify-content: center;
}
label{
  color: rgba(64, 58, 75, 0.6);
}
.inputSex label{
  color: black;
}
input{
  border: none;
  padding: 10px 0px;
  background: #F8F1FF;  
  color: black;
}
input:focus {
  outline: none;
  color: rgba(64, 58, 75, 0.6);
}
p{
  color: rgba(64, 58, 75, 0.6);
  margin: 0;
}
.selectCountry{
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
select {
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
}
option {
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
}
.submit button{
  background: #985ACE;
  border-radius: 7px;
  color: #FFFFFF;
  margin-top: 25px;
  padding: 10px 55px;
  border: none;
  font-size: 15px;
}
.submit button:hover{
  transition: all 1s ease-out;
  color: black;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #985ACE;
}
.country-select{
  padding-left: 10px;
}
.form h1{
  margin: 0;
  padding-top: 15px;
  font-size: 27px;
}
.inputDate input{
  margin-left: 10px;
}
.card{
  background-color: #FFFFFF;
  border: 4px solid #985ACE;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

h4{
  margin: 5px 0px;
}
.header_menu ul{
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 40px;
  margin-top: 30px;
}
.about{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 45em;
  text-align: center;
}
.about h3{
  font-size: 30px;
  margin-top: 0px;
}