.header_menu a{
    text-decoration: none;
    color: #E815EC;
    font-size: 25px;
}

.header_menu li:nth-child(3){
    margin-right: 0px;
}
.header_menu a:hover{
    color: #8F2885;
}
.header_menu li {
    list-style: none;
    margin-right: 30px;
}
.search{
    width: 54px;
    height: 54px;
    border: none;
    margin-left: 20px;
    margin-right: 15px;
    background: url('./img/stch.png') no-repeat center/cover;
}
.search_input{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    border: 2px solid #E815EC;
    border-radius: 29px;
    height: 65px;
    justify-content: flex-end;
    background: white;
}
.search_input input{
    border: none;
    max-width: 590px;
    height: 39px;
    background: white;
}
.search_input input:focus {
    outline: none;
    border: none;
}
.search_input input::placeholder{
    color: #24CAE2;
    font-size: 25px;
    padding-bottom: 50px;
}
.search_input input[type="text"] {
    color: #24CAE2;
    font-size: 25px;
} 
.book_card{
    width: 253px;
    height: 398px;
    border: 2px solid #8F2885;
    border-radius: 10px;
    margin: 10px;
    margin-top: 34px;
}   
.book_card:hover{
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}
.book_card img {
    width: 100%;
    height: 65%;
    border-radius: 10px 10px 0px 0px;
}
.book_card h2{
    font-size: 20px;
    color: #6D6E6F;
    margin: 0px 0px 0px 10px;
}

.container_books{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
}
.book_card_count{
    margin: 0px 0px 0px 10px;
    color: #6D6E6F;
    font-size: 20px;
}
.search_book{
    min-width: 600px;
}